{% extends 'layout.html.twig' %}

{% block title %}Welcome | SilexTodo - AchillesKal{% endblock %}

{% block content %}

    {% for alert in app.session.flashbag.get('warning') %}
        <div class="error-message bg-danger">
            {{ alert }}
        </div>
    {% endfor %}

    <h1 class="text-center">Simple Silex Todo App</h1>
    <form class="todo-form" method="post">
        {{ form_errors(form) }}
        <div class="todo-name">
            {{ form_row(form.name) }}
        </div>
        <div class="todo-submit">
            {{ form_row(form.add) }}
        </div>

        {{ form_rest(form) }}
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Is done</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><a href="{{ path('show_todo', { 'id': task.id }) }}">{{ task.name }}</a></td>
                <td>
                    {% if task.isDone == 0 %}
                        <i class="fa fa-times fa-2x red" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-check fa-2x green" aria-hidden="true"></i>
                    {% endif %}
                </td>
                <td class="todo--links">
                    <a href="{{ path('edit_todo', {'id': task.id}) }}" class="btn btn-warning">Edit</a>
                    <a href="{{ path('delete_todo', {'id': task.id}) }}" class="btn btn-danger">Delete</a>
                </td>

            </tr>
        {% endfor %}
       </tbody>
    </table>
{% endblock %}

