{% extends 'layout.html.twig' %}
{% block content %}
    This is the homepage

    <form action="" method="post">
        {{ form_widget(form) }}
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Is done</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><a href="{{ path('show_todo', { 'id': task.id }) }}">{{ task.name }}</a></td>
                <td>{{ task.isDone }}</td>
            </tr>
        {% endfor %}
       </tbody>
    </table>
{% endblock %}

