{% extends 'layout.html.twig' %}
{% block content %}
    <h1>{{ task.name }}</h1>
    <div>{{ task.description }}</div>
    <div>{{ task.isDone }}</div>

    <a href="{{ path('edit_todo', {'id': task.id}) }}">Edit</a>
    <a href="{{ path('delete_todo', {'id': task.id}) }}">Delete</a>
{% endblock %}

